<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    
    <title>Document</title>
</head>
<body>
    <h3 class="title">Highest Balance Account</h3>
{% if account %}
<p>Account No: {{ account.acc_no }}</p>
<p>Name: {{ account.name }}</p>
<p>Balance: ₹{{ account.balance }}</p>
{% else %}
<p>No accounts available</p>
{% endif %}

</body>
</html>