<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Document</title>
</head>
<body>
    <div class="container">

    <h2> Banking System</h2>

     <div class="menu">
<a href="/create">Create Account</a><br>
<a href="/balance">Check Balance</a><br>
<a href="/deposit">Deposit</a><br>
<a href="/withdraw">Withdraw</a><br>
<a href="/accounts">View All Accounts</a><br>
<a href="/highest">Highest Balance</a>

     </div>
    </div>
    
</body>
</html>